{% extends 'base.html' %}

{% load staticfiles %}
{% load article_tags %}

{% block title %} {{ article.title }}{% endblock %}

{% block content %}

{% with total_likes=article.users_like.count  user_like=article.users_like.all %}
    <div class="container">
    <div class="col-md-9">
        <header >
        <h1 class="text-center">{{ article.title }}</h1>
        <P >
            <p class="text-center">作者：<a href="{% url 'article:author_articles' article.author.username %}">{{ article.author.username }}</a></p>
            <div class="text-right">
            <span style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up">
                {{ total_likes }} like{{ total_likes | pluralize }}
            </span>
            <span style="margin-left: 20px">
                {{ total_views }} view{{ total_views | pluralize }}
            </span>
            </div>

            <p> <span style="margin-right:10px"><strong>Tags:</strong></span>
                {{ article.article_tag.all | join:',' }}
            </p>

        </P>
        </header>

        <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}" />

        <div id="editormd-view">
{#        <textarea id="append-test" style="display:none";>#}
{#{{ article.body }}#}
{#        </textarea>#}
             <!--上述3行代码将用下边的自定义模板选择器替换，实现markdown-->
            {{ article.body | markdown }}
        </div>

        <div>
            <p class="text-center">
                <a onclick="like_article({{ article.id }},'like')" href="#">
                    <span class="glyphicon glyphicon-thumbs-up">like</span>
                </a>
                <a onclick="like_article({{ article.id }},'unlike')" href="#">
                    <span class="glyphicon glyphicon-thumbs-down" style="margin-left: 20px;">unlike</span>
                </a>
            </p>
        </div>

        <div>
            <p class="text-center"><srtong>为本文点赞的读者</srtong></p>
            {% for user in article.users_like.all %}
            <p class="text-center">{{ user.username }}</p>
            {% empty %}
            <p class="text-center">还没人对此文章点赞or鄙视</p>
            {% endfor %}
        </div>

        <hr>
        <div>
            <h3><span class="glyphicon glyphicon-bullhorn"></span> 本文有{{ article.comments.all.count }}评论： </h3>
            {% for comment in article.comments.all %}
            <ul >
            <li >
                <!--下边一行是增加评论人的头像-->
                <!--下边一行是增加评论人的头像,但是这样写实际上成了文章作者的头像。！-->
                <img src="{{ comment.image | striptags }}" class="img-circle"  style="width:25px">
                <a href="{% url 'article:author_articles' comment.commentator %}"> <!--点击评论人，跳转到此人的文章列表-->
                <strong>{{ comment.commentator }}
                </a>
                </strong>：{{ comment.body }}

            </li>
            </ul>

            {% empty %}
            <p>没有评论</p>
            {% endfor %}


        <h3><span class="glyphicon glyphicon-send"></span>我也要发言 </h3>
        <form action="." method="post" class="form-horizontal" role="form">
            {% csrf_token %}

            {% if user.is_authenticated %}  <!--前端增加判断逻辑-->

{#            <div class="form-group">#}
{#                <label for="inputEmail3" class="col-sm-2 control-label">评论员</label>#}
{#                <div class="col-sm-10" >#}
{#                    {{ comment_form.commentator }}#}
{#                    {{ user.username }}#}
{#                </div>#}
{#            </div>#}

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">评论</label>
                <div class="col-sm-10">
                    {{ comment_form.body }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <p><input type="submit" name="" value="发评论" class="btn btn-primary" </p>
                </div>
            </div>
            {% else %}
                <P>请<a href="{% url 'account:user_login' %}?next={% firstof request.path '/' %}">登录</a>在评论</P>  <!--实现登录后跳转回原界面-->
            {% endif %}

        </form>


        </div>

    </div>




{#    <div class="col-md-3" style="position:fixed ;right:-30px; top:50px;">  <!--固定展示-->#}
    <div class="col-md-3 bg-info" style="right:-30px; top:10px;">
        <p class="text-center"><h3>浏览量最大的文章</h3></p>
        <ol>
            {% for article_rank in most_viewed %}
            <li>
                <a href="{{ article_rank.get_url_path }}">{{ article_rank.title }}</a>
            </li>
            {% endfor %}
        </ol>

        <hr>   <!--水平线-->
                <!--使用标签进行最新文章的展示-->
        <p class="text-center"><h3>最新的文章</h3></p>
        {% latest_articles 4 %}   <!--记得传参数-->

        <hr>
                <!--使用标签进行评论最多文章的展示-->
        <P class="text-center"><h3>热评文章</h3></P>
        {% most_commented_articles as most_comments %}
        <ul>
            {% for article_rank in most_viewed %}
            <li>
                <a href="{{ article_rank.get_url_path }}">{{ article_rank.title }}</a>
            </li>
            {% endfor %}
        </ul>

        <hr>
        <P class="text-center"><h3>相似文章</h3></P>
        {% for similar in similar_articles %}
        <p><a href="{{ similar.get_url_path }}">{{ similar.title }}</a></p>
        {% empty %}
        <p>没有相似文章</p>
        {% endfor %}


    </div>

    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'editor/editormd.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>

    <script type="text/javascript">
    $(function(){
        editormd.markdownToHTML('editormd-view',{
            htmlDecode :'style,script,iframe',
            emoji      :true,
            taskList   :true,
            tex        :true,
            flowChart  :true,
            sequenceDiagram:true,

            });
    });

    function like_article(id,action){
        $.ajax({
            url:'{% url 'article:like_article' %}',
            type:'POST',
            data:{'id':id,'action':action},
            success:function(e)
            {
                if(e=='1')
                {
                    layer.msg('感谢点赞');
                    window.location.reload();
                }
                else
                {
                    layer.msg('我会继续努力的');
                    window.location.reload();
                }
            },
        });
    }

    </script>

{% endwith %}
{% endblock %}
