{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 退出登录 {% endblock %}

{% block content %}
<div class=" text-center ">

{##}
{#    <div class="row">#}
{#    <a class="navbar-brand" href="{% url 'account:user_login' %}">#}
{#        <img  width="200px" src="{% static '/images/重新登录用图.png' %}">#}
{#    </a>#}
{#    </div>#}

    <img  width="200px" src="{% static '/images/重新登录用图.png' %}">
    <p style="font-size:30px">你已经退出登录了</p>
    <P>你可以再次<a href="{% url 'account:user_login' %}">登录</a></P>
</div>
{% endblock %}
