{% extends "base.html" %}
{% block title %}密码重置{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>亲，怎么可以忘记密码呢！嘤嘤嘤~</h1><br>

    <p><strong>事已如此，那么还请重置吧:</strong>输入你的邮箱，来设置新的密码</p>
    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">Email</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <input type="submit" value="发送邮件" class="btn btn-primary btn-lg"> </form>
</div>
{% endblock %}