{% extends "base.html" %}

{% block title %}password change {% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>修改密码</h1>
        <P>请输入旧密码，然后输入新密码两次，以用于验证</P>
        {% if form.new_password1.help_text %}
        <div class="text-left" style="margin-left:400px">
            <P>{{ form.new_password1.help_text|safe }}</P>
        </div>
        {% endif %}
        <form class="form-horizontal" action="." method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 control-label text-right">
{#                    旧密码：#}
                    {{ form.old_password.lable_tag }}
                </label>
                <div class="col-md-6 text-left">{{ form.old_password }}</div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label text-right">新密码：
{#                    {{ form.new_password1.lable_tag }}#}
                </label>
                <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label text-right">确认新密码：
{#                    {{ form.new_password2.lable_tag }}#}
                </label>
                <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
            </div>

            <input type="submit" value="修改密码" class="btn btn-primary btn-lg"/>

        </form>
    </div>
{% endblock %}