{% extends "base.html" %}
{% load staticfiles %}

{% block title %}博客文章标题 {% endblock %}

{% block content %}
{#<div class="row text-center vertical-middle-sm">#}
{#    <h1>~~愿望清单~~</h1>#}
{#</div>#}
<div class="row">
    <div class="col-xs-12 col-md-8">
    <div class="row text-center vertical-middle-sm">

        <h1>~~眼前人是心上人~~</h1>
        <ul>
        {% for blog in blogs %}
            <li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
        {% endfor %}
        </ul>
    </div>

    </div>

    <div class="col-xs-6 col-md-4">
        <h2>看我眼神行事⤵️</h2>
        <p>小红书导航：<a href="https://www.xiaohongshu.com/explore">https://www.xiaohongshu.com/explore</a></p>
        <!-- <img width="200px" src="https://raw.githubuserecontent.com/qiwsir/DjangoPracticeProject/master/python-book2.png"> -->
        <img  width="350px" src="{% static '/images/小郑.JPG' %}">
    </div>
</div>
{% endblock %}
