{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home page{% endblock %}

{% block content %}
    <div class="text-center">
        <br>
    <h1>海中月是天上月</h1>
        <br>
        <br>
        <div class="row">
        <img width="350px" src="{% static 'images/心上人2.jpeg' %}">
        <img width="350px" src="{% static 'images/眼前人是心上人.jpeg' %}">
            <img width="350px" src="{% static 'images/心上人3.jpeg' %}">
{#            <img width="350px" src="{% static 'images/心上人4.jpeg' %}">#}

        </div>
    </div>
{% endblock %}